html,body{
  height: 100%;
  width: 100%;
}

header{
  background: rgba(240, 237, 204, .75);
  color: rgb(2, 52, 63);
  text-align: center;
  padding: 20px;
}

h1,h2,h3,h4,h5{
  text-align:center;
}

#homeBody{
  background-repeat: no-repeat;
  background-size: cover;
}

#weatherBody{
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#weatherCard{
  display: flex;
  border: 2px solid black;
  /* width: 525px;
  height: 250px; */
  color: #F0EDCC;
  background: rgba(2, 52, 63,.90);
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 70%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
}

#cityBox{
  text-align: center;

  width: 100%;
  height: 65%;
  margin: 0 auto;
}

#tempBox{
  text-align: center;

  width: 100%;
  height: 50%;
  margin: 0 auto;
}

#leftBox{
  width: 120%;
  height: 100%;
}

#imgBox{
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}

#weatherImg{
  width: 80%;
  height: 80%;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 50%;
  /* The width is the width of the web page */
}

.forecastBox{
  color: white;
  display:flex;
  flex-direction:column-reverse;
  justify-content: center;
  background: rgba(2, 52, 63,.90);
  border: 1px solid black;
  justify-content: space-between;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.forecastBox:hover {
  transform: scaleY(1.02);
  transform: scaleX(1.02);
  transform-origin: center;
}

.container{
  display:flex;
  flex-direction:row;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tempNumber{
  justify-content: right;
  text-align: right;
}


.forecastWeather{
  text-align: center;
}

.time{
  text-align: left;
}

#userDiv{
  background-color: white;
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
}

#dvMap{
  padding: 50px;
}

#mapBox{
  display: flex;
  justify-content: space-evenly;
}

#weatherCoordCard{
  display: flex;
  border: 2px solid black;
  width: 525px;
  height: 250px;
  color: #F0EDCC;
  background: rgba(2, 52, 63,.90);
  display: flex;
  justify-content: center;
  padding: 10px;
}