html,body{
  height: 100%;
  width: 100%;
}

header{
  background: rgba(240, 237, 204, .75);
  color: rgb(2, 52, 63);
  text-align: center;
  padding: 20px;
}

h1,h2,h3,h4,h5{
  text-align:center;
}

#homeBody{
  background-repeat: no-repeat;
  background-size: cover;
}

#weatherBody{
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#weatherCard{
  display: flex;
  border: 2px solid black;
  /* width: 525px;
  height: 250px; */
  color: #F0EDCC;
  background: rgba(2, 52, 63,.90);
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 70%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
}

#cityBox{
  text-align: center;

  width: 100%;
  height: 65%;
  margin: 0 auto;
}

#tempBox{
  text-align: center;

  width: 100%;
  height: 50%;
  margin: 0 auto;
}

#leftBox{
  width: 120%;
  height: 100%;
}

#imgBox{
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}

#weatherImg{
  width: 80%;
  height: 80%;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 50%;
  /* The width is the width of the web page */
}

.forecastBox{
  color: white;
  display:flex;
  flex-direction:column-reverse;
  justify-content: center;
  background: rgba(2, 52, 63,.90);
  border: 1px solid black;
  justify-content: space-between;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.forecastBox:hover {
  transform: scaleY(1.02);
  transform: scaleX(1.02);
  transform-origin: center;
}

.container{
  display:flex;
  flex-direction:row;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tempNumber{
  justify-content: right;
  text-align: right;
}


.forecastWeather{
  text-align: center;
}

.time{
  text-align: left;
}

#userDiv{
  background-color: white;
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
}

#dvMap{
  margin: 20px;
}

#mapBox{
  display: flex;
  justify-content: space-evenly;
}

#weatherCoordCard{
  display: flex;
  border: 2px solid black;
  width: 525px;
  height: 250px;
  color: #F0EDCC;
  background: rgba(2, 52, 63,.90);
  display: flex;
  justify-content: center;
  padding: 10px;
}








.bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  height: 40px;
}

.bn30 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

.bn632-hover {
  width: 100px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 35px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn26 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.bn13 {
  animation: bn13bouncy 5s infinite linear;
  position: relative;
}


@keyframes bn13bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.bn630-hover {
  width: 100px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 35px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn630-hover:hover {
  background-position: 100% 0;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn630-hover:focus {
  outline: none;
}

.bn630-hover.bn19 {
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}